GITHUB_OWNER=filter-log
TARGET_REPO=filter-images-1
PUBLIC_REPOSITORY_NAME=filter-images-1
GITHUB_BRANCH=main
PUBLIC_PAGES_BASE_PATTERN=https://{{owner}}.github.io/{{repo}}
UPLOAD_PORTAL_ORIGIN=https://filter-log.github.io
UPLOAD_PASSWORD=
UPLOAD_SESSION_SECRET=
UPLOAD_SESSION_TTL_SECONDS=43200
MAX_FILES_PER_REQUEST=100
MAX_FILE_SIZE_MB=20
BLOB_UPLOAD_CONCURRENCY=5
GITHUB_APP_ID=
GITHUB_APP_INSTALLATION_ID=
GITHUB_APP_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----"
# Optional fallback when GitHub App is not used
GITHUB_FINE_GRAINED_TOKEN=
